
<div id="grid-wrapper">
  <div class="grid js-grid">
    <% @looks.each do |look| %>
      <div class="grid__item js-item">
        <img src="<%=look.img%>" class="grid_img">
      </div>
    <% end %>
  </div>
</div>
