
<div id="grid-wrapper">
  <div class="grid js-grid">
    <div id="grid-item-wrapper">
      <% @looks.each do |look| %>
        <div class="grid__item js-item">
          <h4><%=look.title%></h4>
          <img src="<%=look.img%>" class="grid_img">
        </div>
      <% end %>
              <div class="grid__item js-item"><%= image_tag "blankdiv.png", :class => "grid_img extra" %></div>
    </div>
  </div>
</div>
