
<h1>Looks</h1>
<div class="container grid">
  <div id="grid-item-wrapper">
      <div class="grid-item">
        <h4><%=look.title%></h4>
        <img src="<%=look.img%>" class="grid-img">
      </div>
    <% end %>
</div>
