
<div class="container">
  <div class="row">
    <% @colors.each do |color| %>
    <div class="color">
      <a href="/looks/search?color_id=<%=color.id%>"><%= color.name %></a>
    </div>
    <% end %>
  </div>
</div>
