
<div class="container">
  <div class="row">
    <% @rooms.each do |room| %>
    <a href="/looks/search?color_id=<%=@color_id%>&room_id=<%=room.id%>">
      <div class="room<%=room.id%> col-xs-12 col-sm-6 col-md-3">
        <h1><%= room.name %></h1>
      </div>
    </a>
    <% end %>
  </div>
</div>
