
<div class="container">
  <div class="row text-center">
     <% @rooms.each do |room| %>
       <div class="room<%=room.id%> col-xs-12 col-sm-6 col-md-3">
         <h1><%= room.name %></h1>
       </div>
     <% end %>
   </div>
 </div>
