
.newlook {
  float: right;
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 3px;
  margin: 0 25px 10px 0;
}

.boost-button {
  border-radius: 3px;
  position: absolute;
  bottom: 20px;
  left: 7px;
}

.img-container {
  position: relative;
}

.delete {
  position: absolute;
  top: 6px;
  right: 8px;
}

.grid-item {

  h4 {
    position: relative;
    top: 6px;
    left: 5px;
  }
  p {
    line-height: .6em;
  }
}

.look-info {
  text-align: left;
}

.grid-img {
  max-width: 350px;
  height: auto;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .grid-item {
    float: left;
  }
}

@media (max-width: 767px) {
  .grid-item h4 {
    text-align: center;
  }
  .grid-img {
    margin: auto;
  }
}

@media (min-width: 1530px) {
  .container.grid {
      width: 1530px;
  }
}
