[class^="room"] {
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;

  h1 {
    position: relative;
    color: white;
    top: 75%;
    left: -5%;
    text-shadow: 2px 2px 2px black;
    font-size: 3em;
  }
}

.room1 {
  background-image:url("kitchen.jpg");
}

.room2 {
  background-image:url("living.jpg");
}

.room3 {
  background-image:url("bed.jpg");
  img.bed {
filter: url("bed.jpg"); /* Firefox 3.5+ */
filter: gray; /* IE6-9 */
-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
img.bed:hover {
filter: none;
-webkit-filter: grayscale(0%);
}
}

.room4 {
  background-image:url("bath.jpg");
}

@media (max-width: 767px) {
  [class^="room"] {
    width: 80%;
    margin-left: 13%;
  }
}

@media (min-width: 992px) {
  [class^="room"] {
    h1 {
      font-size: 2.2em;
    }
  }
}
